
body{
    width: 1360px;
background-color: #F4F4F4;
}
.first_screen{
    width: 1360px;
height: 982px;
}
.header{
    height: 142px;
}
.name_of_company{
    position: absolute;
width: 303px;
height: 69px;
left: 123px;
top: 58px;

/* Big Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
/* or 125% */

letter-spacing: -1px;

color: #000000;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
width: 538px;
height: 22.14px;
left: 697px;
top: 55.86px;
}
.menu-search{
    left: 0%;
    right: 4.41%;
    top: 0%;
    bottom: 3.96%;
}
.menu-icon{
width: 34px;
height: 14px;
}
.greeting-placeholder{
    position: absolute;
    width: 665px;
height: 840px;
left: 695px;
top: 142px;
}
.greeting-slogan{
    position: absolute;
width: 474px;
height: 140px;
left: 126px;
top: 209px;

/* Hero */

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;
/* or 117% */

letter-spacing: -1px;

color: #151515;
}
.greeting-name{
/* Меня зовут Галина Мэй и я люблю показывать людям насколько они красивы. */


position: absolute;
width: 474px;
height: 81px;
left: 126px;
top: 379px;

/* Paragrapgh */

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Black */

color: #222222;
opacity: 0.7;
}
.primary{
    position: absolute;
    top: 516px;
    left: 126px;
    height: 50px;
    width: 308px;
    background: #000000;
}
.primary-text{
left: 0%;
right: 0%;
top: 34%;
bottom: 34%;

/* Label */

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 4px;
text-transform: uppercase;

/* White */

color: #FFFFFF;
}
.video{
    position: absolute;
    width: 400px;
    height: 310px;
    left: 570px;
    top: 506px;
}
.video-rectangle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 123px;
    left: 167px;
    height: 65px;
    width: 65px;
    /* White */
    background: #FFFFFF;
}
.loader{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 346px;
    height: 18px;
    left: 125px;
    top: 755px;
}
.loader-img{
    height: 2px;
    width: 139px;
}
.loader-font{
/* Paragraph */

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;


color: #222222;
}
.about{
margin-top: 137px;
margin-left: 126px;
width: 1109px;
height: 564px;

}
.about-placeholder{
width: 475px;
height: 564px;
left: 126px;
top: 1119px;
}
.about-title{
/* Я лишь хочу захватить секундную часть реальности */


position: absolute;
width: 540px;
height: 97px;
left: 695px;
top: 1156px;

/* Big Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
/* or 125% */

letter-spacing: -1px;

/* Black */

color: #222222;
}
.about-description{

position: absolute;
width: 444.82px;
height: 81px;
left: 695px;
top: 1283px;

/* Paragrapgh */

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Black */

color: #222222;
opacity: 0.7;
}
.videos{
margin-top: 142px;
margin-left: 125px;
width: 1680px;
height: 958px;
}
.videos-sign{
    /* — Видео с фотосессий */


position: absolute;
width: 333px;
height: 20px;
left: 126px;
top: 1825px;

/* Label */

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 4px;
text-transform: uppercase;

/* Black */

color: #222222;
opacity: 0.7;
}
.videos-title{
    /* Я люблю людей, которых фотографирую. Я имею в виду, что они мои друзья, через свои фотографии я живу с ними */

position: absolute;
width: 539px;
height: 199px;
left: 126px;
top: 1885px;

/* Big Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
/* or 125% */

letter-spacing: -1px;

/* Black */

color: #222222;
}
.videos-img-1{
    position: absolute;
    width: 825px;
    height: 500px;
    left: 125px;
    top: 2183px;
}

.videos-img-2{
    position: absolute;
    width: 380px;
    height: 500px;
    left: 980px;
    top: 2183px;

    opacity: 0.3;
}
.videos-rectangle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 505px;
    top: 2400px;
    width: 65px;
    height: 65px;
    
    /* White */

background: #FFFFFF;
}
.navigation{
    position: absolute;
    display: flex;
    justify-content: space-between;
width: 125px;
height: 50px;
left: 125px;
top: 2733px;
}
.navigation-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #C4C4C4;
}
.how_it_works{
    margin-top: 181px;
    width: 1235px;
    height: 552px;
}
.how_is_works-img-1{
    position: absolute;
    width: 570px;
    height: 417px;
left: 0px;
top: 2964px;
}

.how_it_works-img_man{
    position: absolute;
    width: 350px;
    height: 453px;
    left: 315px;
    top: 3063px;
    background: url(images/how_it_works-2.png);

    box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
}
.how_it_works-title{
    /* Как проходит фотосессия */

position: absolute;
width: 473px;
height: 115px;
left: 762px;
top: 3002px;

/* Big Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
/* or 125% */

letter-spacing: -1px;

/* Black */

color: #222222;
}
.how_it_works-description{


position: absolute;
width: 475px;
height: 195px;
left: 760px;
top: 3130px;

/* Paragrapgh */

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Black */

color: #222222;
opacity: 0.7;
}

.portfolio{
    margin-top:202px;
    width: 1120px;
    height: 1248px;
}

.portfolio-sign{ 
position: absolute;
width: 160px;
height: 20px;
left: 126px;
top: 3718px;

/* Label */

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 4px;
text-transform: uppercase;

/* Black */

color: #222222;
opacity: 0.7;
}

.switcher{
    position: absolute;
    display: flex;
    justify-content: space-between;
width: 837px;
height: 19px;
left: 408px;
top: 3796px;
}

.switcher-1{
    font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 4px;
text-transform: uppercase;

color: #B5B5B5;
}

.switcher-active{
    font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 4px;
text-transform: uppercase;

/* Black */

color: #222222;
}
.portfolio-img-1{
    position: absolute;
width: 350px;
height: 450px;
left: 125px;
top: 3934px;
}

.portfolio-img-2{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 505px;
    top: 3934px;
}

.portfolio-img-3{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 885px;
    top: 3934px;
}

.portfolio-img-4{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 125px;
    top: 4414px;
}

.portfolio-img-5{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 505px;
    top: 4414px;
}

.portfolio-img-6{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 885px;
    top: 4414px;
}
.portfolio-button{
    position: absolute;
width: 338px;
height: 50px;
left: 897px;
top: 4916px;

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 4px;
text-transform: uppercase;
background: #000000;
color: #FFFFFF;
}

.comments{
    margin-top: 256px;
    margin-left: 125px;
    width: 1110px;
    height: 620px;
}

.comments-sign{
    position: absolute;
width: 190px;
height: 20px;
left: 125px;
top: 5222px;

/* Label */

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 4px;
text-transform: uppercase;

/* Black */

color: #222222;
opacity: 0.7;
}

.comments-img{
    position: absolute;
width: 445px;
height: 620px;
left: 790px;
top: 5222px;
}

.comments-description{
position: absolute;
width: 540px;
height: 269px;
left: 125px;
top: 5315px;

/* Big Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
/* or 125% */

letter-spacing: -1px;

/* Black */

color: #222222;
}

.comments-author{
position: absolute;
width: 540px;
height: 32px;
left: 125px;
top: 5672px;

/* Title */

font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */


/* Black */

color: #222222;
}

.comments-navigation{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 125px;
    height: 50px;
    left: 125px;
    top: 5792px;
}